.footer {
    .map {
        border: none;
        width : 1440px;
        height: 400px;
        @media screen and (max-width: 768px) {
            width : 768px;
            height: 395px;
        }
    }

    .top {
        position: relative;
    }

    .modal {
        position        : absolute;
        top             : 90px;
        left            : 75px;
        display         : flex;
        justify-content : space-between;
        width           : 570px;
        height          : 200px;
        padding         : 60px 75px;
        box-sizing      : border-box;

        background-color: white;
        @media screen and (max-width: 768px) {
            position: static;
            width   : 100%;
        }

        .title {
            width         : 155px;
            margin        : 0;

            font-size     : 20px;
            text-transform: uppercase;
            font-weight   : normal;
        }

        .address {
            width      : 160px;
            margin     : 0;

            font-family: Arial, Helvetica, sans-serif;
            font-size  : 16px;
            line-height: 20px;
            @media screen and (max-width: 768px) {
                text-align: right;
            }
        }

        .city {
            display   : inline-block;
            margin-top: 27px;
        }
    }

    .bottom {
        position        : relative;
        top             : -5px;

        display         : flex;
        padding         : 55px 110px 40px;

        background-color: var(--white);
        @media screen and (max-width: 768px) {
            padding: 55px 20px 40px;
        }
    }

    .social {
        display    : flex;
        align-items: top;
        padding    : 0;
        margin     : 0 0 0 410px;

        list-style : none;
        @media screen and (max-width: 768px) {
            margin-left: 165px;
        }

        .item {
            position           : relative;
            top                : -17px;
            display            : inline-block;
            width              : 30px;
            height             : 30px;

            color              : var(--white);
            font-size          : 1px;

            background-repeat  : no-repeat;
            background-position: center;

            &.vk {
                margin-right    : 27px;

                background-image: url("./assets/vk.png");

                &:hover {
                    background-image: url("./assets/vk-hover.png");
                }

                &:active {
                    background-image: url("./assets/vk-active.png");
                }
            }

            &.instagram {
                background-image: url("./assets/insta.png");
                margin-right    : 23px;

                &:hover {
                    background-image: url("./assets/insta-hover.png");
                }

                &:active {
                    background-image: url("./assets/insta-active.png");
                }
            }

            &.fb {
                background-image: url("./assets/fb.png");

                &:hover {
                    background-image: url("./assets/fb-hover.png");
                }

                &:active {
                    background-image: url("./assets/fb-active.png");
                }
            }
        }
    }
}
