.button {
    height        : 50px;
    border        : none;
    box-sizing    : border-box;

    cursor        : pointer;
    font-size     : 20px;
    font-family   : inherit;

    text-transform: uppercase;

    &-medium {
        width: 245px;
    }

    &-small {
        width: 168px;
    }

    &-large {
        width: 570px;
        @media screen and (max-width: 768px) {
            width: 280px;
        }
    }

    &-gray {
        color           : var(--darkGray);

        background-color: var(--white);
        @media screen and (max-width: 768px) {
            width    : 245px;
            height   : 40px;
            font-size: 16px;
        }

        &:active,
        &:hover {
            background-color: var(--whiteSmoke);
        }

        &:active {
            color: rgba(0, 0, 0, 0.3);
        }
    }

    &-green {
        color           : white;

        background-color: var(--limeGreen);

        &:active,
        &:hover {
            background-color: var(--green);
        }

        &:active {
            color: rgba(255, 255, 255, 0.3);
        }
    }

    &-catalog {
        height   : 40px;
        font-size: 16px;
        @media screen and (max-width: 768px) {
            width: 245px;
        }
    }

    &[disabled] {
        background-color: var(--lightGray2);
        color           : var(--silver);
    }
}
@media screen and (max-width: 768px) {
    .button-catalog.button-medium {
        width: 630px;
    }
}
