.form {
    &__success {
        text-transform: uppercase;
        font-size     : 20px;
        color         : var(--red);
    }

    &__title {
        width         : 325px;
        margin-bottom : 50px;

        font-weight   : normal;
        font-size     : 20px;
        line-height   : 30px;
        text-transform: uppercase;
        @media screen and (max-width: 768px) {
            padding-left : 40px;
            padding-right: 40px;
        }
    }

    &__wrapper {
        display        : flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            flex-wrap   : wrap;
            padding-left: 40px;
        }

        &-name {
            width: 570px;
            @media screen and (max-width: 768px) {
                width        : auto;
                margin-bottom: 65px;
            }
        }

        &-type {
            width     : 570px;
            box-sizing: border-box;
            border    : 1px solid var(--lightGray);
            padding   : 20px;

            & .form__label:not(:last-of-type) {
                margin-bottom: 15px;
            }
            @media screen and (max-width: 768px) {
                flex-grow   : 2;
                margin-right: 37px;
            }
        }
    }

    &__label {
        display       : inline-block;
        margin-right  : 15px;

        font-size     : 20px;
        text-transform: uppercase;
        line-height   : 20px;
    }

    &__input-text {
        &--name {
            width        : 505px;
            margin-bottom: 15px;
            @media screen and (max-width: 768px) {
                width: 570px;
            }
        }

        &--weight {
            width        : 477px;
            margin-bottom: 15px;
            @media screen and (max-width: 768px) {
                width: 543px;
            }
        }

        &--age {
            width: 435px;
            @media screen and (max-width: 768px) {
                width: 500px;
            }
        }

        &--mail {
            margin-right       : 85px;
            width              : 485px;
            background-image   : url("./assets/mail.png");
            background-repeat  : no-repeat;
            background-position: 445px 25px;
            @media (max-width: 1440px) {
                margin-right: 70px;
            }
            @media screen and (max-width: 768px) {
                width              : 550px;
                margin-right       : 0;
                margin-bottom      : 20px;

                background-position: 510px 25px;
            }
        }

        &--tel {
            width              : 470px;
            background-image   : url("./assets/phone.png");
            background-repeat  : no-repeat;
            background-position: 430px 20px;
            @media screen and (max-width: 768px) {
                width              : 529px;
                margin-right       : 0;

                background-position: 490px 25px;
            }
        }
    }

    &__input-radio {
        display: none;

        &:checked + label .form__custom-radio {
            background-image   : url("./assets/radio_active.png");
            background-position: center;
            background-repeat  : no-repeat;
        }
    }

    &__custom {
        &-radio {
            position     : relative;
            top          : 10px;
            display      : inline-block;
            width        : 40px;
            height       : 40px;
            border       : 1px solid var(--lightGray);
            border-radius: 50%;
            margin-right : 15px;
            cursor       : pointer;

            &:hover {
                border: 1px solid var(--silver2);
            }
        }

        &-check {
            position    : relative;
            top         : 10px;
            display     : inline-block;
            margin-right: 20px;
            width       : 40px;
            height      : 40px;
            box-sizing  : border-box;
            border      : 1px solid var(--gray3);
            cursor      : pointer;

            &:hover {
                border: 1px solid var(--silver2);
            }
        }
    }

    &__fancy-title {
        position   : relative;
        font-weight: normal;
        font-size  : 36px;
        line-height: 36px;

        &::before {
            position     : absolute;
            top          : 20px;
            left         : -110px;

            content      : "";
            display      : block;
            border-bottom: 3px solid var(--limeGreen);
            width        : 70px;
        }
    }

    &__contacts {
        @media screen and (max-width: 768px) {
            padding-left: 40px;
        }
    }

    &__contacts &__fancy-title {
        margin-top   : 60px;
        margin-bottom: 60px;

        &::after {
            position     : absolute;
            top          : 20px;
            left         : 555px;

            content      : "";
            display      : block;
            border-bottom: 3px solid var(--limeGreen);
            width        : 775px;
            @media screen and (max-width: 768px) {
                width: 140px;
            }
        }
    }

    &__comments {
        @media screen and (max-width: 768px) {
            padding-left: 40px;
        }
    }

    &__comments &__fancy-title {
        margin-top   : 60px;
        margin-bottom: 65px;

        &::after {
            position     : absolute;
            top          : 20px;
            left         : 220px;

            content      : "";
            display      : block;
            border-bottom: 3px solid var(--limeGreen);
            width        : 1110px;
            @media screen and (max-width: 768px) {
                width: 477px;
            }
        }
    }

    &__sup {
        @media screen and (max-width: 768px) {
            padding-left: 40px;
        }
    }

    &__sup &__fancy-title {
        margin-top   : 60px;
        margin-bottom: 45px;

        &::after {
            position     : absolute;
            top          : 20px;
            left         : 250px;

            content      : "";
            display      : block;
            border-bottom: 3px solid var(--limeGreen);
            width        : 1080px;
            @media screen and (max-width: 768px) {
                width: 445px;
            }
        }
    }

    &__textarea {
        width      : 1220px;
        height     : 175px;
        padding    : 10px 20px;
        border     : 1px solid var(--lightGray);
        box-sizing : border-box;

        font-family: inherit;
        font-size  : 20px;
        line-height: 30px;
        outline    : none;

        resize     : none;
        @media screen and (max-width: 768px) {
            width: 630px;
        }

        &:hover {
            border: 1px solid var(--gray);
        }

        &:active,
        &:focus {
            border: 1px solid var(--green);
        }
    }

    &__input-check {
        display: none;

        &:checked + label .form__custom-check {
            background-image   : url("./assets/tick.png");
            background-position: center;
            background-repeat  : no-repeat;
        }
    }

    &__sup {
        margin-bottom: 60px;
        @media screen and (max-width: 768px) {
            margin-bottom: 45px;
        }

        & .form__label {
            width: 245px;
            @media screen and (max-width: 768px) {
                margin-bottom: 25px;
            }

            &:not(:last-of-type) {
                margin-right: 70px;
            }
        }
    }

    &__text {
        display      : inline-block;
        margin-left  : 80px;
        margin-bottom: 80px;

        font-size    : 16px;
        line-height  : 16px;
        font-family  : Arial, Helvetica, sans-serif;
    }
}
