.formPage {
    padding: 0 110px;
    @media screen and (max-width: 768px) {
        padding: 0 30px;
    }

    .title {
        margin-bottom: 50px;

        font-size    : 60px;
        font-weight  : normal;
        line-height  : 60px;
    }
}
