.how {
    padding: 0 110px;
    @media screen and (max-width: 768px) {
        padding      : 0 30px;
        border-bottom: 1px solid var(--lightGray);
    }

    &__text {
        margin-top : 40px;

        font-family: Arial, Helvetica, sans-serif;
        font-size  : 16px;
        line-height: 24px;
    }

    &__title {
        font-size  : 60px;
        font-weight: normal;
    }

    &__list {
        display        : flex;
        justify-content: space-between;
        padding        : 0;
        margin         : 0;

        list-style     : none;
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    &__item {
        position: relative;

        height  : 230px;
        width   : 245px;
        @media screen and (max-width: 768px) {
            margin-bottom: 70px;
        }

        &::after {
            position : absolute;
            top      : -110px;
            right    : 0;
            z-index  : -1;

            font-size: 280px;
            color    : var(--white);
        }

        &.one::after {
            content: "1";
        }

        &.two::after {
            content: "2";
        }

        &.three::after {
            content: "3";
        }

        &.four::after {
            content: "4";
        }
    }

    &__icon {
        display            : block;
        width              : 80px;
        height             : 80px;

        background-color   : var(--limeGreen);
        background-repeat  : no-repeat;
        background-position: center;

        &.one {
            background-image: url("./assets/advantage-1.png");
        }

        &.two {
            background-image: url("./assets/advantage-2.png");
        }

        &.three {
            background-image: url("./assets/advantage-3.png");
        }

        &.four {
            background-image: url("./assets/advantage-4.png");
        }
    }
}
